* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

.header-container,
.footer-container {
    /* border: solid 1px cyan; To see boxes */
    height: 50px;
    background-color: #1F2937;
    padding: 0 60px;
}

/* Display div boxes */
.header-container div{
    /* border: solid 1px red; */
    margin: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 16px;
}

.links {
    color: #E5E7EB;
    font-size: 12px;
    display: flex;
}

/* Display div boxes */
/* .div-1-container div, */
/* .div-2-continer div, */
/* .div-3-container div, */
.div-4-container div{
    border: solid 1px red;
}

.div-1-container {
    /* border: solid 1px red; To see boxes */
    background-color: #1F2937;
    color: #F9FAF8;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* I want to be able to set sizing based off
the parent container.  Like 50vw but for the
parent. */

.header-text-container {
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text-title {
    font-size: 30px;
    font-weight: bold;
}

.header-text-body {
    font-size: 14px;
}

.button {
    width: 85px;
    height: 22px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
}

.header-text-button {

}

.header-image-container {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.div-2-container {
    border: solid 1px black; /* To see boxes */
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    font-weight: bold;
}

.main-images-container {
    display: flex;
    height: 110px;
    width: 100vw;
    justify-content: center;
    gap: 25px;

}

.image-container {
    height: 110px;
    width: 75px;
}

.main-image {
    height: 75px;
    width: 75px;
    border: 2px solid #3882F6;
    border-radius: 7px;
    /* background-color: #3882F6; For debugging */

}

.main-image-caption {
    font-size: 10px;
    color: #1F2937;
    text-align: center;
}

.div-3-container {
    border: solid 1px blue; /* To see boxes */
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    max-width: 400px;
    font-style: italic;
}

.signature {
    max-width: 400px;
    text-align: end;
    font-size: 12px;
    font-weight: bold;
}

.div-4-container {
    border: solid 1px green; /* To see boxes */
    height: 175px;
}

.footer-container {

}